<!DOCTYPE html>
<html>

<head>
	<title>TrucKing</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<!-- css lib import -->

	<!-- js lib import -->
	<script src="/lib/jquery.min.js"></script>
	<script src="/lib/jquery.validate.min.js"></script>

	<!-- costom css import -->
	<link href="/css/common/default.css" rel="stylesheet">
	<link href="/css/common/header.css" rel="stylesheet">
	<link href="/css/common/button.css" rel="stylesheet">
	<link href="/css/common/form.css" rel="stylesheet">
	<link href="/css/common/signup.css" rel="stylesheet">

	<!-- costom js import -->
</head>

<body class="top-margin">
	<%- include('./components/header.ejs') %>
	<%- include('./components/signup_form.ejs') %>
</body>
</html>
