<html>
  <head>
  <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
  <link href="/css/common/join.css" rel="stylesheet">
  </head>

  <body style="background: #eee;">
  <div>
    <nav class="nav">
      <div class="logo">
        <span>TRUCK</span><span class="bold">KING</span>
      </div>
      <div class="menu">
        <div>MY PAGE</div>
        <div>LOGIN</div>
        <div>QNA</div>
        <div>NOTICE</div>
        <div>HOME</div>
      </div>
    </nav>
  </div>
  
  <div class="conetents">
    <div class="login-text">회원가입</div>
    
    <div class="acount-input">
      <div class="title-section">
        <div class="title">계정정보</div><div class="necessary">* 필수입력사항입니다.</div>
      </div>

      <div>
        <div class="label">
          아이디
          <span class="necessary-star">*</span>
        </div>
        <input class="join-input" type="text">
      </div>

      <div>
        <div class="label">
          비밀번호
          <span class="necessary-star">*</span>
        </div>
        <input class="join-input" type="text">
      </div>

      <div>
        <div class="label">
          비밀번호 확인
          <span class="necessary-star">*</span>
        </div>
        <input class="join-input" type="text">
      </div>
    </div>

    <div class="buisnessman-input">
      <div class="title-section">
        <div class="title">계정정보</div><div class="necessary">* 필수입력사항입니다.</div>
      </div>

      <div>
        <div class="label">
          아이디
          <span class="necessary-star">*</span>
        </div>
        <input class="join-input" type="text">
      </div>

      <div>
        <div class="label">
          비밀번호
          <span class="necessary-star">*</span>
        </div>
        <input class="join-input" type="text">
      </div>

      <div>
        <div class="label">
          비밀번호 확인
          <span class="necessary-star">*</span>
        </div>
        <input class="join-input" type="text">
      </div>
    </div>
    
    <div>
      <button class="join-btn">회원가입</button>
    </div>

  </div>
  </body>
</html>