<!DOCTYPE html>
<html>
	<head>
		<title>TrucKing</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<!-- css lib import -->

		<!-- js lib import -->
		<script src="/lib/jquery.min.js"></script>
		<script src="/lib/jquery.validate.min.js"></script>

		<!-- costom css import -->
		<link href="/css/common/default.css" rel="stylesheet">
		<link href="/css/common/header.css" rel="stylesheet">

		<link href="/css/user/cago.css" rel="stylesheet">

		<!-- costom js import -->
	</head>

	<body class="top-margin-with-menu" style="background: #b6c4d6;">
		<%- include('./components/select-header.ejs') %>
		<%- include('./components/select-list.ejs') %>
	</body>
</html>
