<div>
    <form id="sign_form" method="POST" action="/api/vendor">
      <div>
        <span>사업자 기본 정보</span>
      </div>
  
      <div>
        <label>
          <span class="input-description">아이디</span>
          <span class="input-required">(필수)</span>
        </label>
        <br>
        <input type="text" id="name" name="name">
      </div>

      <div class="form-item-container">
        <div class="w-right-50">
          <span class="input-description">비밀번호 (최소 7자리이상)</span>
          <span class="input-required">(필수)</span>
          <br>
          <input id="password" type="password" name="password">
        </div><!-- inlin-block 공백을 제거하기 위함 지우지 말것
        --><div class="w-left-50">
          <span class="input-description">비밀번호 확인</span>
          <span class="input-required">(필수)</span>
          <br>
          <input type="password" name="passwordCheck">
        </div>
      </div>
  
      <div class="form-item-container">
        <span class="input-description">회사이름</span>
        <span class="input-required">(필수)</span>
        <br>
        <input type="text" name="nickname">
      </div>

      <div class="form-item-container">
        <span class="input-description">사업자 번호</span>
        <span class="input-required">(필수)</span>
        <br>
        <input type="text" name="nickname">
      </div>

      <div class="form-item-container">
        <span class="input-description">회사 이름</span>
        <span class="input-required">(필수)</span>
        <br>
        <input type="text" name="nickname">
      </div>

      <div class="form-item-container">
        <span class="input-description">회사 전화번호</span>
        <span class="input-required">(필수)</span>
        <br>
        <input type="text" name="nickname">
      </div>
  
      <button type="submit">등록</button>
    </form>
  </div>