@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);


body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Square';
}

.nav  {
  width: 1638px;
  height: 122px;
  background-color: #ffffff;

  padding-left: 142px;
  padding-right: 142px;
}

.logo {
  float: left;
  margin-top: 37px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  text-align: left;
  color: #006fff;
}

.logo .bold {
  font-weight: bold;
}


.menu > div {
  float:right;
  margin-top: 43px;

  width: 124px;
  height: 20px;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: left;
  color: #666666;
  font-weight: bold;
}

.login-text {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: -0.8px;
  text-align: left;
  color: #000;

  background: #eee;
}


.conetents  {
  width: 1638px;
  height: 791px;
  

  margin-top: 84px;

  margin-left: 142px;
  margin-right: 142px;
}

.input-section {
  margin-top: 26px;

  background-color: #ffffff;
  padding-left: 61px;
  padding-right: 61px;

  padding-top: 41px;
  padding-bottom: 41px;
}

.input-section-first {
  margin-top: 0px !important;
}


.title {
  float: left;
  font-size: 36px;
  color: #333;
  font-weight: bold;
}

.necessary {
  float: right;
  font-size: 26px;
  color: #ff002a;
}

.necessary-star {
  color: #ff002a;
}

.title-section {
  height: 80px;
}

.input {
  background-color: #ffffff;
  height: 60px;

  border: 1px solid #dcdcdc;

  font-size: 30px;

  padding-left: 38px;

  margin-bottom: 16px;
  margin-right: 16px;
}

.text-input  {
  width: 558px; 
}

.extra-text-input {
  width: 695px;
}

.time-input, .date-input {
  width: 338px;
}

.label {
  display: inline-block;
  margin-right: 32px;
  width: 190px;
  height: 30px;
  font-family: NanumSquareR;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: left;
  color: #333333;
}

.add-btn {
  width: 300px;
  height: 90px;
  background-color: #006fff;

  margin-left: 18px;

  margin-top: 40px;
  color: white;

  font-size: 32px;

  float: right;
}

.delete-btn {
  width: 300px;
  height: 90px;
  background-color: white;

  margin-left: 18px;

  margin-top: 40px;
  color: #006fff;

  border: 2px solid #006fff;

  font-size: 32px;

  float: right;
}

.gargo-info-section {
  margin-bottom: 170px;
}

.total-info-section {
  background: white;
  height: 128px;
}

.total-info-section > .title {
  float: left;
  
  font-size: 36px;

  color: #000;

  font-weight: bold;

  margin-top: 45px;
  margin-left: 57px;
}

.total-info-section > .price {
  float: right;
  
  font-size: 60px;

  color: #f10000;

  font-weight: bold;

  margin-top: 30px;
  margin-right: 57px;
}

.create-btn {
  width: 300px;
  height: 90px;
  background-color: #006fff;

  margin-left: 688px;

  margin-top: 40px;
  color: white;

  font-size: 32px;

  margin-bottom: 50px;
}


.input-first-icon{
  position: absolute;
  left: 926px;
}


.input-second-icon{
  position: absolute;
  left: 1284px;
}