@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);


body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Square';
}

.nav  {
  width: 1638px;
  height: 122px;
  background-color: #ffffff;

  padding-left: 142px;
  padding-right: 142px;
}

.logo {
  float: left;
  margin-top: 37px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  text-align: left;
  color: #006fff;
}

.logo .bold {
  font-weight: bold;
}


.menu > div {
  float:right;
  margin-top: 43px;

  width: 124px;
  height: 20px;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: left;
  color: #666666;
  font-weight: bold;
}

.complete-box {
  margin-top: 190px;
  margin-left: 800px;
}

.complete-text {
  margin-top: 29px;
  margin-left: 687px;
  font-size: 50px;

}

.add-more-btn {
  width: 300px;
  height: 90px;
  background-color: #006fff;

  margin-left: 18px;

  margin-top: 121px;
  color: white;

  font-size: 32px;

}

.gohome-btn {
  width: 300px;
  height: 90px;
  background-color: white;

  margin-left: 645px;

  margin-top: 121px;
  color: #006fff;

  border: 2px solid #006fff;

  font-size: 32px;

}

