@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);


body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Square';
}

a { text-decoration:none; }
a:link { color: inherit; }
a:visited { color: inherit; }
a:hover { color: inherit; }
a:active { color: inherit; }

.nav  {
  width: 1638px;
  height: 122px;
  background-color: #ffffff;

  padding-left: 142px;
  padding-right: 142px;
}

.logo {
  float: left;
  margin-top: 37px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2px;
  text-align: left;
  color: #006fff;
}

.logo .bold {
  font-weight: bold;
}


.menu > div {
  float:right;
  margin-top: 43px;

  width: 124px;
  height: 20px;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: left;
  color: #666666;
  font-weight: bold;
}

.login-text {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: -0.8px;
  text-align: left;
  color: #000;

  background: #eee;
}


.conetents  {
  width: 1638px;
  height: 791px;
  

  margin-top: 84px;

  margin-left: 142px;
  margin-right: 142px;
}

.acount-input, .buisnessman-input {
  background-color: #ffffff;
  padding-left: 61px;
  padding-right: 61px;

  padding-top: 41px;
  padding-bottom: 41px;
}

.buisnessman-input {
  margin-top: 26px;
}


.title {
  float: left;
  font-size: 36px;
  color: #333;
  font-weight: bold;
}

.necessary {
  float: right;
  font-size: 26px;
  color: #ff002a;
}

.necessary-star {
  color: #ff002a;
}

.title-section {
  height: 80px;
}

.join-input  {
  background-color: #ffffff;
  width: 558px;
  height: 60px;

  border: 1px solid #dcdcdc;

  font-size: 30px;

  padding-left: 38px;

  margin-bottom: 16px;
}

.label {
  display: inline-block;
  margin-right: 32px;
  width: 190px;
  height: 30px;
  font-family: NanumSquareR;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: left;
  color: #333333;
}

.join-btn {
  width: 300px;
  height: 90px;
  background-color: #006fff;

  margin-left: 688px;

  margin-top: 40px;
  color: white;

  font-size: 32px;

  margin-bottom: 50px;
}