<div class="join-section" style="margin-top: 7.9em;">
  <img src="/img/temp.png" style="width: 100%;">
  <a href="/driver/select-cago-list"><button type="submit" id="join_btn">확인</button></a>
<div>