<div class="top-section">
	<div class="back-section">
		<a href="javascript:history.back()">
			<img src="/img/back_button.png">
		</a>
	</div>

	<div class="menu-section">
	</div>

	<div class="title-section">
		<span>
			배차정보
		</span>
	</div>
</div>