<div id="dim"></div>
<div class="top-section">
	<div class="back-section">
		<a href="javascript:history.back()">
			<img src="/img/back_button.png">
		</a>
	</div>

	<!-- TODO: 검색기능 추가시 붙이고 UI변경 -->
	<!-- <div class="search_section">
		<i class="search-icon"></i>
		<input type="search" id="search"/>
		&nbsp;
	</div> -->
<!--	<a href=".">-->
	<a href="javascript:location.reload()">
	<div class="search-section">
	  <div class="reload-btn">
	  </div>
	</div>
  </a>

	<div class="title-section">
		<span>
			TrucKING
		</span>
	</div>
</div>