<div class="top-section">
<div class="back-section">
	<a href="javascript:history.back()">
		<img src="/img/back_button.png">
	</a>
</div>

<div class="menu-section">
</div>

<div class="title-section">
	<span>
		TrucKing
	</span>
</div>
</div>


<div class="nav-section">
	<nav>
		<a href="/user/main">
			<div class="nav-item active">
				진행중
			</div>
		</a>
		<a href="/user/stores">
			<div class="nav-item">
				예약
			</div>
		</a>
		<a href="/user/membership">
			<div class="nav-item">
				완료
			</div>
		</a>
	</nav>
</div>