<div class="top-section">
<div class="back-section">
	<a href="javascript:history.back()">
		<img src="/img/back_button.png">
	</a>
</div>

<div class="menu-section">
</div>

<div class="title-section">
	<span>
		TrucKing
	</span>
</div>
</div>


<div class="nav-section">
	<nav>
		
		<a href="/driver/cago-list">
			<div class="nav-item <%= category == 'ingoing' ? 'active' : '' %>">
				진행중
			</div>
		</a>
		<a href="/driver/cago-list/reservation">
			<div class="nav-item <%= category == 'reservation' ? 'active' : '' %>">
				예약
			</div>
		</a>
		<a href="/driver/cago-list/complete">
			<div class="nav-item <%= category == 'complete' ? 'active' : '' %>">
				완료
			</div>
		</a>
	</nav>
</div>