<div>
  <nav class="nav">
    <div class="logo">
      <a href="/vendor"><span>TRUCK</span><span class="bold">KING</span></a>
    </div>
    <div class="menu">
      <% if( typeof venderId == "undefined") {%>
        <div><a href="/vendor">LOGIN</a></div>
      <% } else {%>
        <div><a href="/vendor">LOGOUT</a></div>
      <% } %>
      <div><a href="/vendor">MY PAGE</a></div>
      <div><a href="/vendor">Q & A</a></div>
      <div><a href="/vendor">NOTICE</a></div>
      <div class="active"><a href="/vendor">HOME</a></div>
    </div>
  </nav>
</div>