<html>
  <head>
  <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
  <link href="/css/common/apply.css" rel="stylesheet">
  </head>

  <body style="background: #eee;">
  <div>
    <nav class="nav">
      <div class="logo">
        <span>TRUCK</span><span class="bold">KING</span>
      </div>
      <div class="menu">
        <div>MY PAGE</div>
        <div>LOGIN</div>
        <div>QNA</div>
        <div>NOTICE</div>
        <div>HOME</div>
      </div>
    </nav>
  </div>
  
  <div class="conetents">
  
    <div class="login-text">배차 신청정보 입력</div>
    
    <div class="gargo-info-section">
      <div class="input-section input-section-first">
        <div class="title-section">
          <div class="title">차량정보</div>
        </div>

        <div>
          <div class="label">
            차종
            <span class="necessary-star">*</span>
          </div>
          <img src="/img/drop.png" class="input-first-icon">

          <input class="input text-input" type="text" name="carModel">
          <input class="input extra-text-input" type="text" name="carModel">
        </div>

        <div>
          <div class="label">
            희망 운송량
            <span class="necessary-star">*</span>
          </div>
          <img src="/img/drop.png" class="input-first-icon">

          <input class="input text-input" type="text" name="wishCarry">
          <input class="input extra-text-input" type="text" name="wishCarry">
        </div>
      </div>

      <div class="input-section">
        <div class="title-section">
          <div class="title">시간정보</div>
        </div>

        <div>
          <div class="label">
            상차지
            <span class="necessary-star">*</span>
          </div>
          <img src="/img/search.png" class="input-first-icon">
          <img src="/img/date.png" class="input-second-icon">

          <input class="input text-input" type="text" name="startPoint">
          <input class="input date-input" type="text" name="startDay">
          <input class="input time-input" type="text" name="startTime">
        </div>

        <div>
          <div class="label">
            하차지
            <span class="necessary-star">*</span>
          </div>
          <img src="/img/search.png" class="input-first-icon">
          <img src="/img/date.png" class="input-second-icon">

          <input class="input text-input" type="text" name="destination">
          <input class="input date-input" type="text" name="destinationDay">
          <input class="input time-input" type="text" name="destinationTime">
        </div>
      </div>
      
      <div>
        <button class="add-btn">추가하기</button>
      </div>
    </div>

    <div class="gargo-info-section">
    <div class="input-section input-section-first">
      <div class="title-section">
        <div class="title">차량정보</div>
      </div>

      <div>
        <div class="label">
          차종
          <span class="necessary-star">*</span>
        </div>
        <img src="/img/drop.png" class="input-first-icon">

        <input class="input text-input" type="text" name="carModel">
        <input class="input extra-text-input" type="text" name="carModel">
      </div>

      <div>
        <div class="label">
          희망 운송량
          <span class="necessary-star">*</span>
        </div>
        <img src="/img/drop.png" class="input-first-icon">

        <input class="input text-input" type="text" name="wishCarry">
        <input class="input extra-text-input" type="text" name="wishCarry">
      </div>
    </div>

    <div class="input-section">
      <div class="title-section">
        <div class="title">시간정보</div>
      </div>

      <div>
        <div class="label">
          상차지
          <span class="necessary-star">*</span>
        </div>
        <img src="/img/search.png" class="input-first-icon">
        <img src="/img/date.png" class="input-second-icon">

        <input class="input text-input" type="text" name="startPoint">
        <input class="input date-input" type="text" name="startDay">
        <input class="input time-input" type="text" name="startTime">
      </div>

      <div>
        <div class="label">
          하차지
          <span class="necessary-star">*</span>
        </div>
        <img src="/img/search.png" class="input-first-icon">
        <img src="/img/date.png" class="input-second-icon">

        <input class="input text-input" type="text" name="destination">
        <input class="input date-input" type="text" name="destinationDay">
        <input class="input time-input" type="text" name="destinationTime">
      </div>
    </div>
    
    <div>
      <button class="add-btn">추가하기</button>
      <button class="delete-btn">삭제하기</button>
    </div>
  </div>

  

  <div class="total-info-section">
    <div class="title">총요금</div>
    <div class="price">85000원</div>
  </div>

    <button class="create-btn"><a href="/cago/result">배차요청하기</a></button>
  </div>
  </body>
</html>