<html>
<head>
  <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
  <link href="/css/common/ttt.css" rel="stylesheet">
  
  <script src="/lib/jquery.min.js"></script>
</head>
<body style="background: #eee;">
  <%- include('../common/header.ejs') %>
  <div class="conetents">
    <div class="login-text">배차 정보 확인</div>
    
    <div class="gargo-info-section">
      <div class="list-title-section">
        <div class="cago-info">화물정보</div>
        <div class="up-down-info">상하차 정보</div>
        <div class="time-info">신청 시간</div>
        <div class="car-number-info">배차차량</div>
        <div class="size-info">적재량</div>
        <div class="cost-info">운임료</div>
        <div class="detail">자세히보기</div>
      </div>
      
      <div class="cago-section">
        <div class="cago-info">
          <span></span><span>배송중</span><br>
          <span>No.99238392</span><br>
        </div>
        <div class="up-down-info">
          <div class="img">
            <img src="/img/ic-arrow.png">
          </div>
          <div class="text">
            <span></span><span>배송중</span><br>
            <span>No.99238392</span><br>
          </div>
        </div>
        <div class="time-info">
          <span>18.12.01 13:00</span>
        </div>
        <div class="car-number-info">
          <span>5대</span>
        </div>
        <div class="size-info">
          <span>2.5t</span>
        </div>
        <div class="cost-info">
          <span>58000</span>원
        </div>
        <div class="detail">
          <a href="">자세히보기><a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>