<html>
  <head>
  <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
  <link href="/css/common/complete-apply.css" rel="stylesheet">
  </head>

  <body style="background: #eee;">
  <%- include('../common/header.ejs') %>
  
  <div>
    <img class="complete-box" src="/img/complete-box.png"><br>
    <div class="complete-text">배차신청이 완료되었습니다.</div>
    <div>
      <a href="/vendor/"><button class="gohome-btn">홈으로</button></a>
      <a href="/cago/create"><button class="add-more-btn">추가신청</button></a>
    </div>
  </div>
  </body>
</html>