<html>
<head>
  <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
  <link href="/css/common/ttt.css" rel="stylesheet">
  
  <script src="/lib/jquery.min.js"></script>
</head>
<body style="background: #eee;">
  <%- include('../common/header.ejs') %>
  <img src="/img/test.png">
</body>
</html>